<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="nlog-internal.log" >

  <variable name="myvar" value="myvalue"/>

  <targets async="true">
    <!--屏幕打印消息-->
    <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss}> ${message} ${newline}"/>
    <!--VS输出窗口-->
    <target name="debugger" xsi:type="Debugger" layout="${date:format=HH\:mm\:ss} | ${level:padding=-5} | ${message} ${newline}" />
    <!--输出到文件-->
    <target name="trace" xsi:type="File" maxArchiveFiles="30" fileName="${basedir}/App_Data/log/trace/${shortdate}.log"
      layout="${longdate} | ${level:uppercase=false:padding=-5} | ${message} ${newline} ${newline}" />
    <target name="error" xsi:type="File" maxArchiveFiles="30" fileName="${basedir}/App_Data/log/error/${shortdate}.log"
      layout="${longdate} | ${level:uppercase=false:padding=-5} | ${message} ${newline} ${exception:format=ToString} ${newline} ${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True} ${newline} ${stacktrace} ${newline} ${newline}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="debugger" />
    <logger name="*" minlevel="Error" writeTo="error" />
    <logger name="*" level="Trace" writeTo="trace" />
  </rules>
</nlog>